<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="student" class="com.ming.entity.Student">
        <property name="age" value="18"/>
        <property name="name" value="张三"/>
        <property name="teacher" ref="teacher"/>
   </bean>
    <bean id="teacher" class="com.ming.entity.Teacher">
        <property name="name" value="张老师"/>
        <property name="subject" value="数学"/>
    </bean>
</beans>